header
  .row
    .container-fluid
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid.px-2
          a.navbar-brand(href='/')
            img.newslogo(src="/image/newsicon.jpg" alt="Logo")
          .navbar-collapse
            ul.navbar-nav.mx-auto.me-0.mb-2.mb-lg-0
              if user
                li.nav-item
                  a.nav-link.logout.text-dark.fs-1 Logout
