doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/style.css' rel='stylesheet')
  title News Paper
body
   .errorpar
     h1.text-dark=message
