doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  link(href='/style.css' rel='stylesheet')
  link(rel='shortcut icon' href='img/Screenshot (3).png' type='image/x-icon')
  title News Paper
body
  div.bg-secondary
    .container
        .row.loginrow
            .col-sm-0.col-md-2.col-lg-3
            .col-sm-12.col-md-8.col-lg-6.login-main-form
                form.py-5.login-form
                    h1.text-center.text-white Login Form
                    .form-group.text-white
                        label(for='liginid1') Your Email
                        input#liginid1.form-control(type='email')
                    .form-group.text-white
                        label(for='liginid2') Your Password
                        input#liginid2.form-control(type='password')
                    .py-3
                        button.btn.btn-primary(href="/") Login
                .py-3.text-center
                    a.btn.btn-primary.mx-1(href="#") Forgot Password
                    a.btn.btn-primary.mx-1(href="/newsbd/userregistration/") Registration
            .col-sm-0.col-md-2.col-lg-3
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
script(src='/js/bundle.js')