extends base
block content
    .py-3.bg-secondary
        form.row.registration
            .col-sm-12.col-md-6.col-lg-6.px-3
                .form-group.text-white
                    label(for='useradd1') User Name
                    input#useradd1.form-control(type='text')
                .form-group.text-white
                    label(for='useradd2') User Email
                    input#useradd2.form-control(type='email')
                .form-group.text-white
                    label(for='useradd3') Password
                    input#useradd3.form-control(type='password' placeholder='******')
                .form-group.text-white
                    label(for='useradd4') Retype Password
                    input#useradd4.form-control(type='password' placeholder='******')
            .col-sm-12.col-md-6.col-lg-6.px-3
                .form-group.text-white
                    label(for='useradd5') Phone Number
                    input#useradd5.form-control(type='text')
                .form-group.text-white
                    label(for='useradd6') Address
                    input#useradd6.form-control(type='text')
                .form-group.text-white
                    label(for='useradd7') User Role
                    select#useradd7.form-control
                        option Please select a option 
                        option Admin
                        option Editor
                        option User
                .form-group.text-white
                    label(for='useradd8') Profile Picture
                    input#useradd8.form-control(type='file' accept='image/*')
                .form-group.py-3
                    button.btn.btn-primary Register User
